<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% feed_meta %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="http://github.com/srerisso">My GitHub account</a></li>
		        	<li><a href="/repositorios.html">My Repos</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/feed.xml">RSS Feed</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:works@erisso.com">email</a></li>
	        		<li><a href="https://github.com/srerisso">github.com/srerisso</a></li>
				</ul>
			</footer>
		</body>
	</html>